.detailProjectNote_cliantTable,
.detailProjectNote_venderTable {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 0.8rem;
}

.detailProjectNote_cliantTable th,
.detailProjectNote_venderTable th {
  background: lightgray;
}

td {
  text-align: left;
}

/* 「収入の部」「支出の部」 */
.income,
.expenditures {
  background: lightgreen;
  border-color: black;
  font-weight: bold;
  text-align: left;
}

.detailProjectNote_cliantTable tr, th, td,
.detailProjectNote_venderTable tr th td {
  border: 0.9px, solid;
  font-weight: normal;
}

.detailProjectNote_venderTable {
  margin-top: 24px;
}

.amount_tableData {
  text-align: right;
}
